.prices {
    padding: 100px 172px;
}
.prices-list-item {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #0A224A;
}
.prices-list-item:first-child {
    border-top: 1px solid #0A224A;
}
.prices-list-item-title {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #0A224A;
    text-transform: uppercase;
}
.prices-list-item-price {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #0A224A;
    padding: 10px 0;
}